In [1]:
import pandas as pd
import requests
import matplotlib.pyplot as plt


data = requests.request("GET", 'https://pomber.github.io/covid19/timeseries.json').json()

In [2]:
timedataframe = {}

In [3]:
for name in data:
        for j in range(0, len(data[name])):
            if data[name][j]['confirmed'] >= 1:
                break
        for i in range(0, len(data[name])):
            if data[name][i]['deaths'] >= 1:
                death = i-j+1
                break
        for k in range(0, len(data[name])):
            if data[name][k]['confirmed'] >= 1:
                break
        for l in range(0, len(data[name])):
            if data[name][l]['recovered'] >= 1:
                rec = l-k+1
                break
        timedataframe[name]={
        "confirmed-recovery days":rec,
        "confirmed-death days":death
            }

In [4]:
timedataframe=pd.DataFrame(timedataframe)
timedataframe

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Botswana,Burundi,Sierra Leone,Malawi,South Sudan,Western Sahara,Sao Tome and Principe,Yemen,Comoros,Tajikistan
confirmed-recovery days,22,13,17,11,12,33,12,17,5,14,...,31,21,20,16,16,19,23,15,15,15
confirmed-death days,28,3,17,21,10,26,6,26,36,17,...,2,14,24,6,6,6,26,21,21,3

In [5]:
df=timedataframe.T
df

                       confirmed-recovery days  confirmed-death days
Afghanistan                                 22                    28
Albania                                     13                     3
Algeria                                     17                    17
Andorra                                     11                    21
Angola                                      12                    10
...                                        ...                   ...
Western Sahara                              19                     6
Sao Tome and Principe                       23                    26
Yemen                                       15                    21
Comoros                                     15                    21
Tajikistan                                  15                     3

[187 rows x 2 columns]

In [6]:
print(list(df.index))

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Diamond Princess', 'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lebanon', 'Liberia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malaysia', 'Maldives', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan*', 'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay', 'US', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Zambia', 'Zimbabwe', 'Dominica', 'Grenada', 'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos', 'Libya', 'West Bank and Gaza', 'Guinea-Bissau', 'Mali', 'Saint Kitts and Nevis', 'Kosovo', 'Burma', 'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi', 'South Sudan', 'Western Sahara', 'Sao Tome and Principe', 'Yemen', 'Comoros', 'Tajikistan']

In [7]:
n=111
while n!=0:
    n=int(input("enter number\n 1: show data for single country \n 2: show data of all countries\n 0:To exit\n"))
    if n==1:
        countryname=input("enter the country as mentioned above\n")
        print(df.loc[countryname])
    elif n==2:
        print(df)
    else :
        print("THANK YOU")

enter number
 1: show data for single country
 2: show data of all countries
 0:To exit
2
                       confirmed-recovery days  confirmed-death days
Afghanistan                                 22                    28
Albania                                     13                     3
Algeria                                     17                    17
Andorra                                     11                    21
Angola                                      12                    10
...                                        ...                   ...
Western Sahara                              19                     6
Sao Tome and Principe                       23                    26
Yemen                                       15                    21
Comoros                                     15                    21
Tajikistan                                  15                     3

[187 rows x 2 columns]
enter number
 1: show data for single country
 2: show data of all countries
 0:To exit
1
enter the country as mentioned above
US
confirmed-recovery days    19
confirmed-death days       39
Name: US, dtype: int64
enter number
 1: show data for single country
 2: show data of all countries
 0:To exit
0
THANK YOU